<a href="https://colab.research.google.com/github/romerofernandes/class_fault/blob/main/class_fault.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_fault = pd.read_csv('/content/classData.csv')

[0 0 0 0] - No Fault

[1 0 0 1] - LG fault (Between Phase A and Gnd)

[0 0 1 1] - LL fault (Between Phase A and Phase B)

[1 0 1 1] - LLG Fault (Between Phases A,B and ground)

[0 1 1 1] - LLL Fault(Between all three phases)

[1 1 1 1] - LLLG fault( Three phase symmetrical fault)

In [ ]:
df_fault.head()

,G,C,B,A,Ia,Ib,Ic,Va,Vb,Vc
0,1,0,0,1,-151.291812,-9.677452,85.800162,0.400750,-0.132935,-0.267815
1,1,0,0,1,-336.186183,-76.283262,18.328897,0.312732,-0.123633,-0.189099
2,1,0,0,1,-502.891583,-174.648023,-80.924663,0.265728,-0.114301,-0.151428
3,1,0,0,1,-593.941905,-217.703359,-124.891924,0.235511,-0.104940,-0.130570
4,1,0,0,1,-643.663617,-224.159427,-132.282815,0.209537,-0.095554,-0.113983

In [ ]:
df_fault.dtypes

G       int64
C       int64
B       int64
A       int64
Ia    float64
Ib    float64
Ic    float64
Va    float64
Vb    float64
Vc    float64
dtype: object

In [ ]:
df_fault['cod_fault'] = df_fault.G.astype(str) + df_fault.C.astype(str) + df_fault.B.astype(str) + df_fault.A.astype(str)

In [ ]:
df_fault['fault'] = df_fault.apply(lambda x: 0 if x.cod_fault == '0000' else 1, axis=1)

In [ ]:
df_fault_vis = df_fault.groupby('cod_fault').agg({'G':'count'}).reset_index()

In [ ]:
df_fault_vis.cod_fault.unique()

array(['0000', '0110', '0111', '1001', '1011', '1111'], dtype=object)

In [ ]:
df_fault_vis

  cod_fault     G
0      0000  2365
1      0110  1004
2      0111  1096
3      1001  1129
4      1011  1134
5      1111  1133

In [ ]:
df_fault.groupby('fault').agg({'G':'count'}).reset_index()

   fault     G
0      0  2365
1      1  5496